name: Build eslint-config-scratch

on:
  push:
permissions:
  contents: read # checkout
jobs:
  build-eslint:
    permissions:
      contents: write # publish a GitHub release
      pages: write # deploy to GitHub Pages
      issues: write # comment on released issues
      pull-requests: write # comment on released pull requests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Info
        run: |
          cat <<EOF
          Node version: $(node --version)
          NPM version: $(npm --version)
          github.event.pull_request.head.label: ${{ github.event.pull_request.head.label }}
          github.head_ref: ${{ github.head_ref }}
          github.ref: ${{ github.ref }}
          github.workflow: ${{ github.workflow }}
          EOF
      - run: npm ci
      - run: npm test
      - name: Semantic Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx --no -- semantic-release
